 .outer-outer-support {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(189, 189, 189, 0.7)
 }


 .outer-support {
     border: 1px solid black;
     position: absolute;
     z-index: 3;
     margin-top: 0rem;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #bcbcf4;
     border-radius: 10px;
 }

 .sup-container {
     padding: 1rem;
 }

 .sup-btn {
     display: block;
     margin: auto;
     margin-bottom: 0.5rem;
     width: 40%;
     height: 3rem;
 }