.ProductCarousel {
    position: relative;
    overflow: hidden;
    padding: 2rem;
}

.ProductCarousel span {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 3rem;
}

.ProductContainer {
    padding: 0 1rem;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    align-items: flex-start;
    margin-top: -2rem;
}

.PrevBtn,
.NextBtn {
    border: none;
    width: 6rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    top: 14rem;
    border-radius: 1rem;
}

.NextBtn:hover,
.PrevBtn:hover {
    transform: scale(1.1);
}

.PrevBtn {
    left: 0;
}

.NextBtn {
    right: 0;
}

.NextBtn p,
.PrevBtn p {
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.429);
    box-shadow: rgba(0, 0, 0, 0.19) rem 1rem 2rem, rgba(0, 0, 0, 0.23) rem 6px 6px;
    border-radius: 1rem;
    color: #0A1C30;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}